@import 'variables.css';
@import 'global.css';
@import 'header.css';
@import 'footer.css';

/* lets try the fade animation */

.fade-in {
    animation: fade 0.3s ease-in;
}

@keyframes fade{from {opacity: 0;} to {opacity: 1;}}

