*{box-sizing: border-box;}
html, ody {margin: 0; padding: 0;}

body {
    font-family: var(--forn-body);
    background-color: var(--secondary);
    color: var(--primary);
    line-height: 1.6;
}

main {
    max-width: var(--container);
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

/*the links and buttons*/

a {
    color: var(--accent1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, .btn {
    cursor: pointer;
    padding: 0.6rem 1rem;
    border: 1px solid var(--accent1);
    border-radius: 6px;
    background-color: #fff;
    color: var(--primary);
}